body {
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    text-align: center;
    align-items: center;
}

.panel, .remaining, #availablePlayers, #choose {
    display: inline-block;
    

}
/* #battleground {
    margin-top: 10%;
} */

.defeated {
    display: none;
}